section {
    display: flex;
    gap: 1rem;
    justify-items: space-between;
}

.about {
    display: flex;
}

p {
    text-align: justify;
}

.picture {
    align-self: center;
}

.job-attributes {
    display: flex;
    gap: 1rem;
    font-size: large;
}