section {
    display: flex;
    gap: 2rem;
    justify-items: space-between;
}

p {
    text-align: justify;
}

.picture {
    align-self: center;
}

/* work heading */

.company {
    font-size: x-large;
}

.timerange {
    font-size: x-large;
}

.job-attributes {
    display: flex;
    gap: 1rem;
}


/* work labels */

.labels {
    display: flex;
    flex-wrap: wrap;
    gap: .5rem;
    list-style: none;
}

.labels li {
    border: solid 1px;
    border-radius: 1rem;
    padding: 0.3rem .5rem 0.2rem;
}

.labels li.skill {
    border-color: aqua;
}

.labels li.tech {
    border-color: blueviolet;
}