section {
    display: flex;
    gap: 1rem;
    justify-items: space-between;
}

/* .section-title {
    font-size: 2rem;
} */


.job-head-2nd-line {
    display: flex;
    gap: 1rem;
    font-size: large;
}