section {
    display: flex;
    gap: 1rem;
    justify-items: space-between;
}

.about {
    display: flex;
}

p {
    text-align: justify;
}

.picture {
    align-self: center;
}

/* .section-title {
    font-size: 2rem;
} */


.job-head-2nd-line {
    display: flex;
    gap: 1rem;
    font-size: large;
}