<header>
    <h1>{{about.name}}</h1>
</header>

<main>
    <section>
        <h2>About me</h2>
        {{about.intro}}
    </section>

    <section>
        <h2>Links</h2>
        <ul>
            <li>Email: <a href=mailto:{{about.email}}>{{about.email}}</a></li>
            <li>Web: <a href={{about.web}}>{{about.web}}</a></li>
            <li>Github: <a href={{about.github}}>{{about.github}}</a></li>
            <li>Linkedin: <a href={{about.linkedin}}>{{about.linkedin}}</a></li>
        </ul>
    </section>

    <section>
        <h2>Work</h2>
        {% for page in work.values()|sort(attribute=begin) %}
        {{page.title}} at {{page.company}}
        {{page.begin}} to {{page.end}}
        <p>{{page.description}}</p>
        <hr>
        {% endfor %}
    </section>

    <section>
        <h2>Skills</h2>
        {% for skill,elements in skills.items()%}
        <h3>{{skill}}</h3>
        <ul>
            {% for element in elements%}
            <li>{{element}}</li>
            {% endfor %}
        </ul>
        {% endfor %}
    </section>

    <section>
        <h2>Education and Training</h2>
    </section>
</main>

<footer>
    <p>This page is created with my home-made <a href="{{about.source}}">generator</a> in python, jinja templates and
        simplecss
    </p>
</footer>