<header>
    <h1>{{about.name}}</h1>
</header>
<main>
    {% include "about.html.jinja" %}
    {% include "links.html.jinja" %}
    {% include "work.html.jinja" %}
    {% include "skills.html.jinja" %}
    {% include "training.html.jinja" %}
</main>