<section>
    <h2>Links</h2>
    <ul>
        <li>Email: <a href=mailto:{{about.email}}>{{about.email}}</a></li>
        <li>Web: <a href={{about.web}}>{{about.web}}</a></li>
        <li>Github: <a href={{about.github}}>{{about.github}}</a></li>
        <li>Linkedin: <a href={{about.linkedin}}>{{about.linkedin}}</a></li>
    </ul>
</section>