<section>
    <h2>links</h2>
    <ul>
        <li>email: <a href=mailto:{{about.email}}>{{about.email}}</a></li>
        <li>web: <a href={{about.web}}>{{about.web}}</a></li>
        <li>github: <a href={{about.github}}>{{about.github}}</a></li>
        <li>linkedin: <a href={{about.linkedin}}>{{about.linkedin}}</a></li>
    </ul>
</section>