<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{about.name}} Resume</title>
    <link rel='stylesheet' href='style.css'>
</head>
<header>
    <h1>{{about.name}}</h1>
</header>

<body>
    <section>
        <h2>links</h2>
        <ul>
            <li>email: {{about.email}}</li>
            <li>web: <a href={{about.web}}>{{about.web}}</a></li>
            <li>github: <a href={{about.github}}>{{about.github}}</a></li>
            <li>linkedin: <a href={{about.linkedin}}>{{about.linkedin}}</a></li>
        </ul>
    </section>

    <section>
        <h2>about me</h2>
    </section>

    <section>
        <h2>work</h2>
    </section>

    <section>
        <h2>skills</h2>
    </section>

    <section>
        <h2>education</h2>
    </section>
</body>

</html>