<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{about.name}} Resume</title>
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
    <link rel="stylesheet" href="style.css">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
</head>

<body>
    <header>
        <h1>{{about.name}}</h1>
    </header>


    <main>

        {# ------------------------ ABOUT ------------------------ #}

        <section class="about">
            <h2 class="section-title">About me</h2>
            <p>{{about.intro}}</p>
            {# <img src="{{about.picture}}" alt="{{about.name}}" class="picture"> #}
        </section>

        {# ------------------------ LINKS ------------------------ #}

        <section>
            <h2 class="section-title">Links</h2>
            <ul>
                <li>Email: <a href=mailto:{{about.email}}>{{about.email}}</a></li>
                <li>Web: <a href={{about.web}}>{{about.web}}</a></li>
                <li>Github: <a href={{about.github}}>{{about.github}}</a></li>
                <li>Linkedin: <a href={{about.linkedin}}>{{about.linkedin}}</a></li>
            </ul>
        </section>

        {# ------------------------ WORK ------------------------ #}


        <section>
            <h2 class="section-title">Work</h2>
            <div>
                {% for period in work.values()|sort(attribute="begin",reverse=True) %}
                <h3>{{period.title}}</h3>
                <div class="company">{{period.company}}</div>
                <div class="timerange">
                    <div>{{period.delta}}</div>
                    <div>{{period.year_span}}</div>
                </div>
                <p>{{period.description | markdown | safe}}</p>
                <ul class="labels">
                    {% for skill_it in period.skills %}
                    <li class="skill">{{skill_it}}</li>
                    {% endfor %}
                    {% for tech_it in period.tech %}
                    <li class="tech">{{tech_it}}</li>
                    {% endfor %}
                </ul>
                <hr>
                {% endfor %}
            </div>
        </section>

        {# ------------------------ TRAINING ------------------------ #}

        <section>
            <h2 class="section-title">Training</h2>
            <div>
                {% for period in training.values()|sort(attribute="begin",reverse=True) %}
                <h3 class="job-head-1st-line">{{period.path}}</h3>
                <div class="company">{{period.institution}}</div>
                <div class="timerange">
                    <div>{{period.delta}}</div>
                    <div>{{period.year_span}}</div>
                </div>

                <p>{{period.description | markdown | safe}}</p>
                <hr>
                {% endfor %}
            </div>
        </section>
    </main>

    {# ------------------------ FOOTER ------------------------ #}

    <footer>
        <p>This page is created with my home-made <a href="{{about.source}}">generator</a>, with python, jinja templates
            and simplecss
        </p>
    </footer>
</body>

</html>