{% include "colors.css" %}

body {
    /* colors */
    color: var(--clr-primary-a50);
    background-color: var(--clr-surface-a0);
    
    /* box */
    border-style: solid;
    border-color: white;
    margin: auto;
    width:70%;
    margin-top:30px;
    padding:2%;
}

a {
    color: rgb(129, 160, 129)
}

header {
    text-align: center;
    background-color: rgb(109, 109, 243);
}