{% include "colors.css" %}

body {
    color: var(--clr-primary-a50);
    background-color: var(--clr-surface-a0);
}

a {
    color: rgb(129, 160, 129)
}

header {
    text-align: center;
    background-color: rgb(109, 109, 243);
}